.note-container{

}

.note-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.note-card {
    height: 250px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    transition: all 0.3s ease;
    cursor: pointer;
}

.note-card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.submit-btn {
    padding: 10px 15px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.add-note-fix {
    display: flex;
    flex-direction: column;
}