.password-container {
    display: grid;
    grid-template-columns: auto;
    padding: 0 40px;
}

.passwords {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    padding: 15px;

}

.passwords-title {

font-size: 18px;
}

.passwords-username {
   
}

.passwords-password{

}

.passwords-btns {
    display: flex;
    justify-content: flex-end;
}

.passwords-btns .icons {
    margin: 0 5px;
}

.delete-btn {
    border: none;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.password-add {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.destination-img {
    margin-right: 10px;
    width: 6%;
}